*{
    margin:0; 
    padding:0;
}

body {
    color:black;
}

div.container {
    margin-bottom:7%;
    margin-right: 3%;
    margin-top: -6%;
    line-height:200%;
    text-align:right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

div.content {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

h1{
    background-image:url('https://s4.ax1x.com/2022/01/12/7nD2Mq.png');
    background-repeat:repeat-x;
    background-position:top;
    background-size: 100% 100%;
    margin-left: 0% ;
    margin-right: 0;
    width: 100%;
    height: 180px;
    padding-top: 40px;
    font-size: 60px;
    text-indent:28px;
    font-family:'Times New Roman', Times, serif;
}

div.all{
    text-align: center;
    margin-left:  100px;
    margin-right: 80px;
}

div.img {
    border: 1px solid #ccc;
    margin: 50px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 425px;
    height: 45%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 50%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 1000px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}




div.content{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 20px;
    text-align:center;
    padding-left: 90px;
    padding-right: 90px;
}

p1{
    font-size: 25px;
    font-weight: bold;

}

