*{
    margin:0; padding:0;
}

body{
    background-color: rgba(222, 184, 135, 0.404);
}
	    
div.container {
    margin-bottom:7%;
    margin-right: 0%;
    margin-top: -6%;
    line-height:200%;
    text-align:right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

div.content {
    text-align: justify;
    font-size: 23px;
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
	    background-image:url('https://s4.ax1x.com/2022/01/12/7nD2Mq.png');
	    background-repeat:repeat-x;
	    background-position:top;
        background-size: 100% 100%;
        margin-left: 0% ;
	    margin-right: 0;
        width: 100%;
        height: 140px;
        padding-top: 40px;
        font-size: 60px;
        text-indent:28px;
        font-family:'Times New Roman', Times, serif;
}




a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(95, 28, 182);
}


#footer {
    margin: auto;
    text-align: center;
}

#footer p {
    font-size: small;
    align-self: center;
    *{
        margin:0; padding:0;
    }
    
    body{
        background-color: rgba(222, 184, 135, 0.404);
    }
    
    div.container {
        margin-bottom:7%;
        margin-right: 8%;
        margin-top: -3%;
        line-height:200%;
        text-align:right;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    div.content {
        text-align: left;
        font-size: 23px;
        line-height: 40px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    h1{
            background-image:url('https://s4.ax1x.com/2022/01/12/7nD2Mq.png');
            background-repeat:repeat-x;
            background-position:top;
            background-size: 100% 100%;
            margin-left: 0% ;
            margin-right: 0;
            width: 100%;
            height: 140px;
            padding-top: 40px;
            font-size: 60px;
            text-indent:28px;
            font-family:'Times New Roman', Times, serif;
    }
    
    
    
    
    a:link {
        color: black;
    }
    
    a:visited {
        color: black;
    }
    
    a:hover {
        color: rgb(95, 28, 182);
    }
    
    
    #footer {
        margin: auto;
        text-align: center;
    }
    
    #footer p {
        font-size: small;
        align-self: center;
    }
