*{
    margin:0; padding:0;
}

body{
    background-color: rgba(222, 184, 135, 0.404);
}
	    
div.container {
    margin-bottom:7%;
    margin-right: 0%;
    margin-top: -6%;
    line-height:200%;
    text-align:right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

div.content {
    text-align: justify;
    font-size: 23px;
    margin-left:5
    margin-right:5
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
}
<body>
<div>Introduction

Chinese characters are one of the oldest systems of writing in the world. They are also the only logographic writing systems that are still widely used and highly developed in the world. With the exception of very few Chinese characters, each Chinese character corresponds to one syllable. They are widely used in East Asia now, as well as historically used by the Sinosphere. Chinese characters are an integral part of Chinese culture. As a unique tool for recording, preserving and disseminating knowledge, Chinese characters have played an important role in carrying forward Chinese culture and promoting its development.

The earliest Chinese characters are the oracle bone script from the Shang Dynasty, circa 1300 BC. The evolution of Chinese characters has gone through the stages of oracle bone script, bronze inscriptions, seal script, clerical script, regular script, cursive script and semi-cursive script. The evolution of Chinese characters is also the process of standardization and stabilization of characters. Seal script fix the number of strokes in each character, clerical script formed a new system of brush shape, which gradually become flat square. After the appearance of regular script, the font of Chinese characters became stable, and the writing order of each character was also fixed. For more than 1,000 years, regular script has been widely used in writing and application as the standard character of Chinese characters.

Besides practical value, Chinese characters also have artistic value. In Chinese characters, various scripts have their own distinctive artistic features. Chinese characters have unique structure and the ideography. Compared to the phonography, it is easier to express the visual beauty of characters. Therefore, Therefore, the Chinese calligraphy with high artistic value was produced in China.</div>
<div class="content">Introduction

Chinese characters are one of the oldest systems of writing in the world. They are also the only logographic writing systems that are still widely used and highly developed in the world. With the exception of very few Chinese characters, each Chinese character corresponds to one syllable. They are widely used in East Asia now, as well as historically used by the Sinosphere. Chinese characters are an integral part of Chinese culture. As a unique tool for recording, preserving and disseminating knowledge, Chinese characters have played an important role in carrying forward Chinese culture and promoting its development.

The earliest Chinese characters are the oracle bone script from the Shang Dynasty, circa 1300 BC. The evolution of Chinese characters has gone through the stages of oracle bone script, bronze inscriptions, seal script, clerical script, regular script, cursive script and semi-cursive script. The evolution of Chinese characters is also the process of standardization and stabilization of characters. Seal script fix the number of strokes in each character, clerical script formed a new system of brush shape, which gradually become flat square. After the appearance of regular script, the font of Chinese characters became stable, and the writing order of each character was also fixed. For more than 1,000 years, regular script has been widely used in writing and application as the standard character of Chinese characters.

Besides practical value, Chinese characters also have artistic value. In Chinese characters, various scripts have their own distinctive artistic features. Chinese characters have unique structure and the ideography. Compared to the phonography, it is easier to express the visual beauty of characters. Therefore, Therefore, the Chinese calligraphy with high artistic value was produced in China.</div>

h1{
	    background-image:url('https://s4.ax1x.com/2022/01/12/7nD2Mq.png');
	    background-repeat:repeat-x;
	    background-position:top;
        background-size: 100% 100%;
        margin-left: 0% ;
	    margin-right: 0;
        width: 100%;
        height: 140px;
        padding-top: 40px;
        font-size: 60px;
        text-indent:28px;
        font-family:'Times New Roman', Times, serif;
}




a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(95, 28, 182);
}


#footer {
    margin: auto;
    text-align: center;
}

#footer p {
    font-size: small;
    align-self: center;
    *{
        margin:0; padding:0;
    }
    
    body{
        background-color: rgba(222, 184, 135, 0.404);
    }
    
    div.container {
        margin-bottom:7%;
        margin-right: 8%;
        margin-top: -3%;
        line-height:200%;
        text-align:right;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    div.content {
        text-align: left;
        font-size: 23px;
        line-height: 40px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    h1{
            background-image:url('https://s4.ax1x.com/2022/01/12/7nD2Mq.png');
            background-repeat:repeat-x;
            background-position:top;
            background-size: 100% 100%;
            margin-left: 0% ;
            margin-right: 0;
            width: 100%;
            height: 140px;
            padding-top: 40px;
            font-size: 60px;
            text-indent:28px;
            font-family:'Times New Roman', Times, serif;
    }
    
    
    
    
    a:link {
        color: black;
    }
    
    a:visited {
        color: black;
    }
    
    a:hover {
        color: rgb(95, 28, 182);
    }
    
    
    #footer {
        margin: auto;
        text-align: center;
    }
    
    #footer p {
        font-size: small;
        align-self: center;
    }
