---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">Writing System index</a>
            <a href="{{ site.baseurl }}/Cuneiform">Cuneiform</a>
            <a href="{{ site.baseurl }}/Egyptian hieroglyphs">Egyptian Hieroglyphs</a>
            <a href="{{ site.baseurl }}/Chinese characters">Chinese Characters</a>
            <a href="{{ site.baseurl }}/Maya script">Maya Script</a>
        </nav>
    </div>
    <div class="container">
        {% assign system = site.data.system | find: "name", page.system %}

        <img src = "{{ page.image-url }}" width = 500>
        <p>{{ page.title }} <a href = "{{ system.homepage }}">{{ page.system }}</a></p>

    </div>
</body>