---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style1.css">
</head>

<h1>Four Ancient Writing System</h1>
<br/>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">Writing System</a>
            <a href="{{ site.baseurl }}/Cuneiform">Cuneiform</a>
            <a href="{{ site.baseurl }}/Egyptian hieroglyphs">Egyptian Hieroglyphs</a>
            <a href="{{ site.baseurl }}/Chinese characters">Chinese Characters</a>
            <a href="{{ site.baseurl }}/Mayan script">Mayan Script</a>
            <a href="{{ site.baseurl }}/search">Search</a>
        </nav>
    </div>

    <div class="all">
    <div class="responsive">
    <div class="img">
        {% assign system = site.data.system | find: "name", page.system %}


        <img src = "{{ page.image-url2 }}" width = "300" height="300">
        <div class="desc">Oracle bone script</div>

    </div>  
    </div>

    
    <div class="responsive">
        <div class="img">
            {% assign system = site.data.system | find: "name", page.system %}
        <img src = "{{ page.image-url3 }}" width = "300" height="300">
        <div class="desc">Bronze inscriptions</div>
    </div>  
    </div>

    <div class="responsive">
        <div class="img">
            {% assign system = site.data.system | find: "name", page.system %}
        <img src = "{{ page.image-url4 }}" width = 500>
        <div class="desc">Seal script</div>
    </div>  
</div>

<div class="responsive">
    <div class="img">
        {% assign system = site.data.system | find: "name", page.system %}

        <img src = "{{ page.image-url5 }}" width = 500>
        <div class="desc">Clerical script</div>

    </div>  
</div>

<div class="responsive">
    <div class="img">
        {% assign system = site.data.system | find: "name", page.system %}
        <img src = "{{ page.image-url6 }}" width = 500>
        <div class="desc">Regular script</div>
    </div>  
</div>

<div class="responsive">
    <div class="img">
        {% assign system = site.data.system | find: "name", page.system %}
        <img src = "{{ page.image-url7 }}" width = 500>
        <div class="desc">Cursive script</div>
    </div>  
    </div>

    </div>

    <div class="clearfix"></div>


    <div class="content">
        <p1>{{ page.title }} <a href = "{{ system.homepage }}">{{ page.system }}</a></p1>
        <p style="text-align:justify;"> Chinese characters are one of the oldest systems of writing in the world. They are widely used in East Asia now, as well as historically used by the Sinosphere. Chinese characters are the only logographic writing systems that are still widely used and highly developed in the world. With the exception of very few Chinese characters, each Chinese character corresponds to one syllable. The evolution of Chinese characters has gone through the stages of oracle bone script, bronze inscriptions, seal script, clerical script, regular script, cursive script and semi-cursive script. At current, regular script is widely used in writing and application.</p><br>




    </div>

</body>




