---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">writing system index</a>
            <a href="{{ site.baseurl }}/Cuneiform">Cuneiform</a>
            <a href="{{ site.baseurl }}/Egyptian hieroglyphs">Egyptian hieroglyphs</a>
            <a href="{{ site.baseurl }}/Chinese characters">Chinese characters</a>
            <a href="{{ site.baseurl }}/Mayan script">Mayan script</a>
        </nav>
    </div>
    <div class="container">
        {% assign system = site.data.system | find: "name", page.system %}

        <img src = "{{ page.image-url }}" width = 500>
        <img src = "{{ page.image-url2 }}" width = 500>
        <img src = "{{ page.image-url3 }}" width = 500>
        <img src = "{{ page.image-url4 }}" width = 500>
        <p>{{ page.title }} <a href = "{{ system.homepage }}">{{ page.system }}</a></p>
        <p>A Hieroglyph was a type of font in ancient Egyotian writing systems. Such logographic files usually have pictographic features and are used to write and record events. In Neoplatonism, especially in the Renaissance, hieroglyphs were also regarded as artistic expressions of esoteric ideas; many Neoplatonists also believed that hieroglyphs were mysterious and believed that the most authentic Egyptian hieroglyphs were such ideas. . Unlike English, the pronunciation and content of hieroglyphs are not consistent. The Egyptians invented graphics and words. The appearance of these distinctive characters in 3000 BC marked the beginning of Egyptian civilization. Although based on images, Egyptian writing is not just a complicated pictorial form. Each picture/glyph has one of three functions: 
            (1) an image representing something or action
            (2) a sound or a sound of one to three syllables
            (3) clarifying the precise meaning of adjacent glyphs. 
            Writing hieroglyphs requires some artistic skills, which limits the number of people who choose to learn it. In Egypt, usually only those with extensive education, such as pharaohs, nobles, and priests with high status, can read and write hieroglyphs. Others use simpler versions that are more suitable for everyday handwriting: first the hieratic, then the demotic.
        </p>

    </div>
</body>