---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style4.css">
</head>
<h1>Four Ancient Writing System</h1>
<br/>

<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/writing system">Writing System</a>
            <a href="{{ site.baseurl }}/Cuneiform">Cuneiform</a>
            <a href="{{ site.baseurl }}/Egyptian hieroglyphs">Egyptian Hieroglyphs</a>
            <a href="{{ site.baseurl }}/Chinese Characters">Chinese Characters</a>
            <a href="{{ site.baseurl }}/Maya Script">Maya Script</a>
            <a href="{{ site.baseurl }}/Search">Search</a>
        </nav>
    </div>



    <div class="all">
        <div class="responsive">
        <div class="img">
            {% assign system = site.data.system | find: "name", page.system %}

        <img src = "{{ page.image-url2 }}" >
    </div>  
</div>

<div class="responsive">
    <div class="img">
        {% assign system = site.data.system | find: "name", page.system %}

        <img src = "{{ page.image-url3 }}" >
    </div>  
</div>

<div class="responsive">
    <div class="img">
        {% assign system = site.data.system | find: "name", page.system %}
        <img src = "{{ page.image-url4 }}" >
    </div>  
</div>

<div class="responsive">
    <div class="img">
        {% assign system = site.data.system | find: "name", page.system %}

        <img src = "{{ page.image-url5 }}" >

    </div>  
</div>


</div>

<div class="clearfix"></div>


<div class="content">
    <p1>{{ page.title }} <a href = "{{ system.homepage }}">{{ page.system }}</a></p1>
        <p style="text-align:justify;">Mayan script, also known as Maya glyphs, is a kind of hieroglyph created by the Maya of Mesoamerica. The earliest identifiable Maya script found which can be traced back to the 3rd century BC in San Bartolo, Guatemala. At that time Maya script was merely popular in a small area centered​​ on Tikal. It was not until the middle of the 5th century that the Maya script followed the mercantile routes to spread throughout the whole Maya region.</p><br>


    </div>
</body>