---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style2.css">
</head>
<h1>Four Ancient Writing System</h1>
<br/>

<body>
<div class="container">
    <nav>
        <a href="{{ site.baseurl }}/">Writing System</a>
        <a href="{{ site.baseurl }}/Cuneiform">Cuneiform</a>
        <a href="{{ site.baseurl }}/Egyptian hieroglyphs">Egyptian Hieroglyphs</a>
        <a href="{{ site.baseurl }}/Chinese characters">Chinese Characters</a>
        <a href="{{ site.baseurl }}/Maya script">Maya Script</a>
        <a href="{{ site.baseurl }}/search">Search</a>
    </nav>
</div>


<div class="all">

    <div class="responsive">
    <div class="img">

        {% assign system = site.data.system | find: "name", page.system %}

        <img src = "{{ page.image-url }}" width = 500>

    </div>  
</div>


<div class="responsive">
    <div class="img">

        {% assign system = site.data.system | find: "name", page.system %}
        <img src = "{{ page.image-url3 }}" width = 500>

    </div>  
</div>


<div class="responsive">
    <div class="img">

        {% assign system = site.data.system | find: "name", page.system %}
        <img src = "{{ page.image-url4 }}" width = 500>

    </div>  
</div>


<div class="responsive">
    <div class="img">

        {% assign system = site.data.system | find: "name", page.system %}
        <img src = "{{ page.image-url5 }}" width = 500>

    </div>  
</div>


</div>

<div class="clearfix"></div>



<div class="content">
        <p1>{{ page.title }} <a href = "{{ system.homepage }}">{{ page.system }}</a></p1>
        <p style="text-align:justify;">Cuneiform writing is an ancient writing originating from the Tigris and Euphrates. It was invented by the Sumerians around 3200 BC and is one of the earliest writings in the world. In its 3000-year history, cuneiform writing has gradually simplified and abstracted its glyph structure from the original hieroglyphic system. The number of characters has been reduced from about 1000 in the early Bronze Age to about 400 in the late Bronze Age. Most of the cuneiform inscriptions that have been discovered are written on clay tablets, and a few are written on stone, metal or wax slabs. Bookkeepers use sharpened reed poles or wooden sticks to engrave on the soft clay board, which becomes hard and not easily deformed after being dried or baked. 
        Cuneiform writing was used by many ancient civilizations to write their languages, but these languages do not necessarily belong to the same related language family. For example, the Hittites and the Persian Empire also use cuneiform writing, but these two languages are Indo-European languages that have nothing to do with Sumerian. In addition, although the Akkadian people also use cuneiform as a writing tool, there are quite a few differences between Akkadian and Sumerian. The lines are mostly drawn on the clay tablet, so the lines are straight and wedge-shaped. Reed rods or wooden sticks are used to emboss on the clay tablet to facilitate writing. Therefore, most of the writing strokes are triangular lines, and the shape of the characters has evolved with the evolution of civilization. The changeable pictographs are unified and fixed as syllable symbols.</p><br>

    </div>
</body>