---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">writing system index</a>
            <a href="{{ site.baseurl }}/Cuneiform">Cuneiform</a>
            <a href="{{ site.baseurl }}/Egyptian hieroglyphs">Egyptian hieroglyphs</a>
            <a href="{{ site.baseurl }}/Chinese characters">Chinese characters</a>
            <a href="{{ site.baseurl }}/Mayan script">Mayan script</a>
        </nav>
    </div>
    <div class="container"> 
        {{ content }}
    </div>
</body>
